@media (min-width: 1400px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1170px;
    }
}


@media only screen and (min-width:200px) and (max-width:768px) {
    .btn-outer {
        position: fixed;
        bottom: 5px;
        left: 0px;
        width: 100%;
        justify-content: center !important;
        padding: 5%;
        /* max-width:768px; */
        z-index: 1000;

    }

    .btn-outer button {
        width: 200px;



    }

    .wabtn,
    .call {
        padding: 7px 15px;
        font-size: 14px;


    }


    .bannerContent h1 {
        font-size: 31px;
        font-weight: 700;

    }

    .bannerContent h1 br {
        display: none;

    }


    .row figure {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .bannerContentBtn {
        flex-direction: column;
        justify-content: center;
        width: 100%;
        align-items: start;
    }

    .bannerContentBtn button:first-child,
    .bannerContentBtn button:nth-child(2) {
        width: 100%;
        min-height: 60px;
    }

    .bannerContentBtn ul li {
        text-align: start;
    }

    .highlightSection h2 {
        font-size: 28px;
    }

    .certificate {
        width: 100%;
        display: none;
    }

    .get-certified {
        width: 100vw;
    }

    .certifySection {
        width: 100%;
    }

    .circle {


        top: 180px;
        left: 130px;
    }

    .section-3 h1 {

        font-size: 30px;
        font-weight: 700;
    }

    .head-text {
        font-size: 30px;
        font-weight: 700;



    }
    .faqs div:first-child br{
        display: none;
    }
    .whylearn br{
    display: inline-block;
}

}